body {
    text-align: center;
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    background-color: #4F517D;
    margin-top: 250px;
}

th{
    border-width:2px;
}
td {
    border-width:2px;
}
h1 {
    font-size: 30px;
}


a:visited {
    color: red;
}

a:hover {
    color:black;
}

a:link {
    color:black;
}

input[type=text] {
    background-color:#DCCFEC;
}

input[type=password] {
    background-color:#DCCFEC;
}

input[type=submit] {
    background-color:#A997DF;
}

input {
    margin: 4px;
}
